
// --------------------------------
//  Slideshow Widget
// --------------------------------



// Widget spacing
[data-name="responsiveslideshow"] {
    margin-bottom: 100px;
}


// If slideshow has a pagination
.has-slide-pagination [role="main"] {


    // Make room for pagination dots
    [data-name="responsiveslideshow"] {
        padding-right: 35px;
    }


    // Move navigation controls
    .responsiveslideshow__slide-navigation {
        right: 35px;
    }
}


// Styling for slideshow widget in main zone
[role="main"] .responsiveslideshow {


    &__figure {
        display: block;
        min-height: 650px;
        height: auto;

        @media #{$mobile-650px} {
            min-height: 350px;
        }
    }


    // Image caption
    &__caption {
        background-color: $color__container--background;
        -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.05);
        box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.05);
        display: inline-block;
        margin: -150px 35px 0;
        max-width: 680px;
        padding: 30px;
        position: absolute;
        bottom: -50px;
        text-align: left;
        width: auto;
        z-index: 2;


        @media #{$tablet-860px} {
            display: none;
            visibility: hidden;
        }
    }


    // Slideshow image title
    &__image-title {
        color: $color__blogpostlist-title--text;
        font-size: 24px;
        font-weight: 500;
        font-family: $font__feature-headline--font-family;
        line-height: 28px;
        margin-bottom: 8px;
    }


    // Slideshow image description
    &__image-description {
        color: $color__p--text;
        font-size: 15px;
        line-height: 21px;
    }


    // Slideshow pagination
    &__slide-pagination {
        @include flex-display;
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
        bottom: 0;
        top: 0;
        right: 0;
        width: 20px;


        @media #{only screen and (max-height: 600px)} {
            display: none;
            visibility: hidden;
        }
    }


    // Slideshow pagination list item
    &__pagination-item {
        display: block;


        &.selected .button {
            background-color: lighten($color__body--background, 100%);
        }
    }


    // Pagination button styles
    &__button.button {
        background-color: lighten($color__body--background, 20%);
        @include border-radius(100px);
        overflow: hidden;
        padding: 0;
        text-indent: -9999px;
        height: 8px;
        width: 8px;
    }


    // Positioning of slideshow nav and pagination
    &__slide-navigation,
    &__slide-pagination {
        position: absolute;
        margin: 0;
    }


    // Slideshow pagination button styling
    &__button {
        @include border-radius(100px);
        margin-bottom: 4px;
        overflow: hidden;
        text-indent: -99999px;
        width: 100%;
    }


    // Slideshow navigation styling
    &__slide-navigation {
        display: inline-block;
        margin: 0;
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 50px;
        z-index: 10001;


        @media #{$tablet-860px} {
            @include flex-display;
            @include justify-content(space-between);
            bottom: 20px;
            left: 25px;
            right: 25px;
            height: 50px;
            max-width: 100%;
            width: auto;
        }


        @media #{$mobile-650px} {
            left: 20px;
            right: 20px;
        }
    }


    // Navigation buttons
    &__previous-button,
    &__next-button,
    &__pause-toggle {
        background-color: transparent;
        color: white;
        display: inline-block;
        padding: 0 10px;
        position: relative;
        line-height: 50px;
        height: 50px;
        width: 40px;


        @media #{$tablet-860px} {
            @include flex-grow(1);

        }


        &:after {
            top: 22px;


            @media #{$tablet-860px} {
                border-color: white;
            }
        }


        &:hover {
            background-color: transparent;
        }
    }


    &__previous-button,
    &__next-button {


        &:before {
            display: none;
        }


        &:after {
            content: "";
            border-left: 2px solid $color__slideshow-pagination-item--background;
            border-top: 2px solid $color__slideshow-pagination-item--background;
            position: absolute;
            top: 33px;
            margin: 0;
            height: 12px;
            width: 12px;
        }
    }


    // Previous slide button
    &__previous-button:after {
        left: 0;
        @include transform(rotate(-45deg));
    }


    // Next slide button
    &__next-button:after {
        right: 0;
        @include transform(rotate(135deg))
    }


    // Pause icon
    .icon--pause:before {
        content: "";
        border-left: 14px solid $color__slideshow-pagination-item--background;
        border-top: 8px dashed transparent;
        border-bottom: 8px dashed transparent;
        bottom: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        width: 12px;
        height: 16px;
    }


    // Play icon
    .icon--pause.pause:before {
        content: "";
        border-left: 2px solid $color__slideshow-pagination-item--background;
        border-right: 2px solid $color__slideshow-pagination-item--background;
        border-top: none;
        border-bottom: none;
        left: 0;
        right: 0;
        margin: 0 auto;
    }


    // Navigation control text
    &__control-text {
        display: none;
        visibility: hidden;
    }
}

