
// -----------------------------
//  Social Icons
// -----------------------------



// Hide social icons text
.social-name {
    padding: 0 10px;
    position: absolute;
    line-height: 40px;
    left: 0;
    top: 0;
    opacity: 0;
    @include transition(left 0.3s ease-in-out);
}



// If UL is hovered opaque all list items except one that is selected
.social-list {
    display: inline-block;


    @media #{$mobile-650px} {
        display: block;
    }


    // When hover is active show default hover state over UL
    &:hover > .social-item {


        // Default hover state background colour
        .social-link {
            background-color: fade-out($color__socialicons--icon--background, 0.2);
        }


        // When hovering anchor link show brand colours as background
        &:hover .social-link {

            &:before {
                color: white;
            }

            // Twitter background colour
            &.icon--twitter {
                background-color: #55acee;

                .social-name:after {
                    background-color: darken(#55acee, 7%);
                }
            }


            // Facebook background colour
            &.icon--facebook {
                background-color: #3b5998;

                .social-name:after {
                    background-color: darken(#3b5998, 7%);
                }
            }


            // RSS background colour
            &.icon--rss {
                background-color: #f26522;

                .social-name:after {
                    background-color: darken(#f26522, 7%);
                }
            }

            // Linkedin background colour
            &.icon--linkedin {
                background-color: #0077b5;

                .social-name:after {
                    background-color: darken(#0077b5, 7%);
                }
            }


            // Google+ background colour
            &.icon--googleplus {
                background-color: #dc4e41;

                .social-name:after {
                    background-color: darken(#dc4e41, 7%);
                }
            }


            // Youtube background colour
            &.icon--youtube {
                background-color: #cd201f;

                .social-name:after {
                    background-color: darken(#cd201f, 7%);
                }
            }


            // Pintrest background colour
            &.icon--pinterest {
                background-color: #bd081c;

                .social-name:after {
                    background-color: darken(#bd081c, 7%);
                }
            }


            // Instagram background colour
            &.icon--instagram {
                background-color: #3f729b;

                .social-name:after {
                    background-color: darken(#3f729b, 7%);
                }
            }
        }
    }


    // Shows brand colours as standard at mobile
    .social-link {


        @media #{$mobile-650px} {

            // Twitter background colour
            &.icon--twitter {
                background-color: #55acee!important;

                .social-name:after {
                    background-color: darken(#55acee, 7%);
                }
            }


            // Facebook background colour
            &.icon--facebook {
                background-color: #3b5998!important;

                .social-name:after {
                    background-color: darken(#3b5998, 7%);
                }
            }


            // RSS background colour
            &.icon--rss {
                background-color: #f26522!important;

                .social-name:after {
                    background-color: darken(#f26522, 7%);
                }
            }


            // Linkedin background colour
            &.icon--linkedin {
                background-color: #0077b5!important;

                .social-name:after {
                    background-color: darken(#0077b5, 7%);
                }
            }


            // Google+ background colour
            &.icon--googleplus {
                background-color: #dc4e41!important;

                .social-name:after {
                    background-color: darken(#dc4e41, 7%);
                }
            }


            // Youtube background colour
            &.icon--youtube {
                background-color: #cd201f!important;

                .social-name:after {
                    background-color: darken(#cd201f, 7%);
                }
            }


            // Pintrest background colour
            &.icon--pinterest {
                background-color: #bd081c!important;

                .social-name:after {
                    background-color: darken(#bd081c, 7%);
                }
            }


            // Instagram background colour
            &.icon--instagram {
                background-color: #3f729b!important;

                .social-name:after {
                    background-color: darken(#3f729b, 7%);
                }
            }
        }
    }
}


// Shows social icon name when hovered
.social-item {


    // Makes buttons full width at mobile
    @media #{$mobile-650px} {
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
    }


    // Slides social text in on hover
    &:hover .social-name {
        color: $color__socialicons--icon;
        opacity: 1;
        left: 40px;
        z-index: 1;


        @media #{$mobile-650px}{
            left: 55px;
        }


        &:after {
            content:"";
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }


    &:hover .social-link {
        z-index: 1;
    }


    // Makes social text visible by default on mobile
    .social-name {


        @media #{$mobile-650px} {
            color: $color__socialicons--icon;
            opacity: 1;
            padding: 0 15px;
            left: 55px;
            right: 0;
            z-index: 1;


            &:after {
                content:"";
                height: 40px;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
    }
}


// Social links background
.social-link {
    background-color: $color__socialicons--icon--background;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;


    @media #{$mobile-650px}{
        display: block;
        padding-left: 20px;
        width: 100%;
        text-align: left;
    }


    &:before {
        color: $color__socialicons--icon;
        font-size: 18px;
        line-height: 40px;
        margin: 0;
    }


    &:hover {
        @include transition(background-color 0s);
    }
}

