
// -----------------------------
//  Home Page Styling
// -----------------------------



// Content Widget
// ------------------------------


// Homepage content widget styling
.home-gallery .content {
    max-width: 860px;
    padding-bottom: 2em;
}



// Gallery
// ------------------------------




// Brings gallery back inline with site container
[data-widget-type="gallery"] {
    margin: 0 -20px;
}


.gallery {

    // Gallery image spacing
    &__gallery-item {
        padding: 20px 20px 0;
        width: 33.33%;

        @media #{$tablet-860px} {
            width: 50%;
        }

        @media #{$mobile-650px} {
            width: 100%;
        }
    }


    // Removes background image
    &__image-link {
        background-image: none!important;
    }


    // Inline image styling
    &__image {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 100%;


        // Adds colour to gallery image
        &:hover,
        &:focus {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }


    &__figure {
        margin: 0;
    }


    &__caption {
        margin: 20px 0 10px;
    }


    // Image title and description styling
    &__image-title,
    &__image-description {
        line-height: 26px;
    }


    // Image title styling
    &__image-title {
        color: $color__gallery-title--text;


        // Adds + icon to image title
        &:after {
            content: "+";
            position: absolute;
            right: 20px;
        }
    }


    // Image description styling
    &__image-description {
        color: $color__gallery-description--text;
    }
}


