$color-swatch1:#ffffff;
$color-swatch2:#4a7491;
$color-swatch3:#c26b57;
$color-swatch4:#111111;
$color-swatch5:#bcbcbc;
$color-swatch6:#ffffff;
$color-swatch7:#235071;

$font-swatch1-font-family: Helvetica, arial;
$font-swatch1-font-size:36px;
$font-swatch1-font-weight:400;
$font-swatch1-line-height:36px;
$font-swatch1-color:$color-swatch4;
$font-swatch1-letter-spacing:0px;

$font-swatch2-font-family: Helvetica, arial;
$font-swatch2-font-size:24px;
$font-swatch2-font-weight:400;
$font-swatch2-line-height:1px;
$font-swatch2-color:$color-swatch4;
$font-swatch2-letter-spacing:0px;

$font-swatch3-font-family:Helvetica, arial;
$font-swatch3-font-size:18px;
$font-swatch3-font-weight:400;
$font-swatch3-line-height:1px;
$font-swatch3-color:$color-swatch4;
$font-swatch3-letter-spacing:0px;

$font-swatch4-font-family:Helvetica, arial;
$font-swatch4-font-size:16px;
$font-swatch4-font-weight:400;
$font-swatch4-line-height:1px;
$font-swatch4-color:$color-swatch4;
$font-swatch4-letter-spacing:0px;

$font-swatch5-font-family:Helvetica, arial;
$font-swatch5-font-size:14px;
$font-swatch5-font-weight:400;
$font-swatch5-line-height:28px;
$font-swatch5-color:$color-swatch5;
$font-swatch5-letter-spacing:0px;

$font-swatch6-font-family:Helvetica, arial;
$font-swatch6-font-size:15px;
$font-swatch6-font-weight:400;
$font-swatch6-line-height:1px;
$font-swatch6-letter-spacing:0px;
$font-swatch6-color:$color-swatch6;
$font-swatch6-color-hover:$color-swatch2;
$font-swatch6-background-color:$color-swatch2;
$font-swatch6-background-color-hover:$color-swatch1;

$font-swatch7-font-family:Helvetica, arial;
$font-swatch7-font-size:14px;
$font-swatch7-font-weight:400;
$font-swatch7-line-height:1px;
$font-swatch7-letter-spacing:0px;
$font-swatch7-color:$color-swatch1;
$font-swatch7-background-color:$color-swatch3;
$font-swatch7-background-color-hover:darken($color-swatch3,20%);

$font-swatch8-font-family:Helvetica, arial;
$font-swatch8-font-size:40px;
$font-swatch8-font-weight:400;
$font-swatch8-line-height:50px;
$font-swatch8-letter-spacing:0px;
$font-swatch8-color:$color-swatch1;

$font-swatch9-font-family:Helvetica, arial;
$font-swatch9-font-size:22px;
$font-swatch9-font-weight:400;
$font-swatch9-line-height:50px;
$font-swatch9-letter-spacing:0px;
$font-swatch9-color:$color-swatch1;

$font-swatch10-font-family:Helvetica, arial;
$font-swatch10-font-size:24px;
$font-swatch10-font-weight:400;
$font-swatch10-line-height:50px;
$font-swatch10-letter-spacing:0px;
$font-swatch10-color:$color-swatch4;

$font__heading: $font-swatch1-font-family;
$font__body: $font-swatch5-font-family;
$font__h1--font-family : $font-swatch1-font-family;
$font__h1--font-size : $font-swatch1-font-size;
$font__h1--font-weight : $font-swatch1-font-weight;
$font__h1--line-height : $font-swatch1-line-height;
$font__h1--letter-spacing : $font-swatch1-letter-spacing;
$font__h2--font-family : $font-swatch2-font-family;
$font__h2--font-size : $font-swatch2-font-size;
$font__h2--font-weight : $font-swatch2-font-weight;
$font__h2--line-height : $font-swatch2-line-height;
$font__h2--letter-spacing : $font-swatch2-letter-spacing;
$font__h3--font-family : $font-swatch3-font-family;
$font__h3--font-size : $font-swatch3-font-size;
$font__h3--font-weight : $font-swatch3-font-weight;
$font__h3--line-height : $font-swatch3-line-height;
$font__h3--letter-spacing : $font-swatch3-letter-spacing;
$font__h4--font-family : $font-swatch4-font-family;
$font__h4--font-size : $font-swatch4-font-size;
$font__h4--font-weight : $font-swatch4-font-weight;
$font__h4--line-height : $font-swatch4-line-height;
$font__h4--letter-spacing : $font-swatch4-letter-spacing;
$font__p--font-family : $font-swatch5-font-family;
$font__p--font-size : $font-swatch5-font-size;
$font__p--font-weight : $font-swatch5-font-weight;
$font__p--line-height : $font-swatch5-line-height;
$font__p--letter-spacing : $font-swatch5-letter-spacing;

$font__button--font-family : $font-swatch7-font-family;
$font__button--font-size : $font-swatch7-font-size;
$font__button--font-weight : $font-swatch7-font-weight;
$font__button--line-height : $font-swatch7-line-height;
$font__button--letter-spacing : $font-swatch7-letter-spacing ;

$font__companyname--font-family : $font-swatch10-font-family;
$font__companyname--font-size : $font-swatch10-font-size;
$font__companyname--font-weight : $font-swatch10-font-weight;
$font__companyname--line-height : $font-swatch10-line-height;
$font__companyname--letter-spacing : $font-swatch10-letter-spacing;

$font__navigation--font-family : $font-swatch6-font-family;
$font__navigation--font-size : $font-swatch6-font-size;
$font__navigation--font-weight : $font-swatch6-font-weight;
$font__navigation--line-height : $font-swatch6-line-height;
$font__navigation--letter-spacing : $font-swatch6-letter-spacing;

$font__feature-headline--font-family : $font-swatch8-font-family;
$font__feature-headline--font-size : $font-swatch8-font-size;
$font__feature-headline--font-weight : $font-swatch8-font-weight;
$font__feature-headline--line-height : $font-swatch8-line-height;
$font__feature-headline--letter-spacing : $font-swatch8-letter-spacing;
$font__feature-strapline--font-family : $font-swatch9-font-family;
$font__feature-strapline--font-size : $font-swatch9-font-size;
$font__feature-strapline--font-weight : $font-swatch9-font-weight;
$font__feature-strapline--line-height : $font-swatch9-line-height;
$font__feature-strapline--letter-spacing : $font-swatch9-letter-spacing;

$color__primary: red;
$color__secondary: red;
$color__body--background: red;
$color__body--border: red;
$color__container--background: red;
$color__link--text: red;
$color__companyname--text: red;
$color__h1--text: red;
$color__h1--background: red;
$color__h2--text: red;
$color__h2--background: red;
$color__h3--text: red;
$color__h3--background: red;
$color__h4--text: red;
$color__h4--background: red;
$color__p--text: red;
$color__p--background: red;
$color__button--background: red;
$color__button--background--hover: red;
$color__button--text: red;
$color__button--text--hover: red;
$color__button--border: red;
$color__header--background: red;
$color__header--border: red;
$color__footer--background: red;
$color__footer--border: red;
$color__sidebar--background: red;
$color__sidebar--border: red;
$color__navigation--background: red;
$color__navigation--text: red;
$color__navigation--border: red;
$color__navigation--text--hover: red;
$color__navigation--text--selected: red;
$color__navigation-list--background: red;
$color__navigation-item--text: red;
$color__navigation-item--text--selected: red;
$color__navigation-item--background: red;
$color__navigation-item--background--hover: red;
$color__navigation-item--background--selected: red;
$color__navigation--icon: red;
$color__feature--background: red;
$color__feature-content--background: red;
$color__feature-headline--text: red;
$color__feature-headline--background: red;
$color__feature-strapline--text: red;
$color__feature-strapline--background: red;
$color__feature-button--text: red;
$color__feature-button--border: red;
$color__feature-button--background: red;
$color__feature-button--background--hover: red;
$color__form--background: red;
$color__form--border: red;
$color__form-legend--text: red;
$color__form-legend--background: red;
$color__form-label--text: red;
$color__image--background: red;
$color__image-caption--background: red;
$color__image-title--text: red;
$color__image-title--background: red;
$color__image-description--text: red;
$color__image-description--background: red;
$color__gallery--background: red;
$color__gallery-caption--background: red;
$color__gallery-title--text: red;
$color__gallery-title--background: red;
$color__gallery-description--text: red;
$color__gallery-description--background: red;
$color__slideshow--background: red;
$color__slideshow-caption--background: red;
$color__slideshow-title--text: red;
$color__slideshow-title--background: red;
$color__slideshow-description--text: red;
$color__slideshow-description--background: red;
$color__slideshow-pagination-item--background: red;
$color__slideshow-pagination-item--background--hover: red;
$color__slideshow-pagination-item--background--selected: red;
$color__slideshow-pagination-item--text: red;
$color__slideshow-pagination-item--text--hover: red;
$color__slideshow-pagination-item--text--selected: red;
$color__twitter--background: red;
$color__twitter-item--background: red;
$color__twitter-account-name--background: red;
$color__twitter-account-name--text: red;
$color__twitter-tweet--text: red;
$color__socialicons--icon: red;
$color__socialicons--icon--hover: red;
$color__socialicons--icon--background: red;
$color__socialicons--icon--background--hover: red;
$color__socialicons--text: red;
$color__blogsearch--background: red;
$color__blogsearch-legend--background: red;
$color__blogsearch-legend--text: red;
$color__blogsearch-label--text: red;
$color__blogpostlist--background: red;
$color__blogpostlist-article--background: red;
$color__blogpostlist-title--background: red;
$color__blogpostlist-title--text: red;
$color__blogpost--background: red;
$color__blogpost-article--background: red;
$color__blogpost-title--background: red;
$color__blogpost-title--text: red;
$color__ecomproductslist--background: red;
$color__ecomproductslist-filters--background: red;
$color__ecomproductslist-legend--background: red;
$color__ecomproductslist-legend--text: red;
$color__ecomproductslist-label--text: red;
$color__ecomproductslist-product-list--background: red;
$color__ecomproductslist-product-item--background: red;
$color__ecomproductslist-product-title--background: red;
$color__ecomproductslist-product-title--text: red;
$color__ecomproductslist-product-price--text: red;
$color__ecomproduct--background: red;
$color__ecomproduct-images--background: red;
$color__ecomproduct-content--background: red;
$color__ecomproduct-title--background: red;
$color__ecomproduct-title--text: red;
$color__ecomproduct-price--background: red;
$color__ecomproduct-price--text: red;
$color__ecombasket--background: red;
$color__ecombasket-list--background: red;
$color__ecombasket-button--background: red;
$color__ecombasket-button--background--hover: red;
$color__ecombasket-button--text: red;
$color__ecombasket-button--border: red;
$color__menusections--background: red;
$color__menu--background: red;
$color__menu-item-title--text: red;
$color__menu-item-title--background: red;
$color__menu-item--background: red;
$color__menu-item-featured-title--text: red;
$color__menu-item-featured-title--background: red;
$color__menu-item-featured--background: red;
$color__menu-section-header--text: red;
$color__menu-section-header--background: red;
$color__menu-section-featured--text: red;
$color__menu-section-featured--background: red;
$color__menu-section-featured--border: red;
$color__menu-subsection-header--text: red;
$color__menu-subsection-header--background: red;
$color__menu-subsection-featured-header--text: red;
$color__menu-subsection-featured-header--background: red;

$siteBackgroundColor:transparent;
$siteBackgroundGradientType:vertical;
$siteBackgroundGradientFrom:transparent;
$siteBackgroundGradientTo:transparent;
$siteBackgroundImageScale:original;
$siteBackgroundImage:none;
$siteBackgroundPositionX:center;
$siteBackgroundPositionY:top;
$siteBackgroundRepeat:no-repeat;
