
// ------------------------------------
//  Form Styling
// ------------------------------------



// Legend Styling
// ------------------------------

legend {
    color: $color__form-legend--text;
    font-family: $font__h2--font-family;
    font-size: $font__h3--font-size;
    font-weight: $font__h2--font-weight;
    letter-spacing: $font__h3--letter-spacing;
    line-height: $font__h3--line-height;
    margin-bottom: 20px;


    @media #{$mobile-650px} {
        font-size: $font__h3--font-size * 0.8;
        line-height: $font__h3--line-height * 0.85;
    }
}



// Label Styling
// ------------------------------

label,
.cell--header {
    color: $color__form-label--text;
    font-family: $font__h4--font-family;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 4px;
    text-transform: uppercase;
}



// Inputs, Textareas & Selects
// ------------------------------

input[type="search"],
input[type="email"],
input[type="password"],
textarea,
.input--single-line,
.product-filters .input--search,
select {
    background-color: $color__form--background;
    color: $color__p--text;
    font-family: $font__p--font-family;
    font-size: $font__p--font-size * 0.95;
    padding: 10px 20px;
    -webkit-appearance: none;


    &:focus,
    &:hover {
        background-color: darken($color__form--background, 5%);
        color: darken($color__p--text, 10%);
        @include transition(background ease 0.35s);
        -webkit-appearance: none;
    }
}


// Heights for inputs and selects only
input[type="search"],
input[type="email"],
input[type="password"],
.product-filters .input--search,
.input--single-line,
select {
    height: 55px;

    // IE only styling
    &::-ms-expand {
        display: none;
    }
}


// Select styling
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
}


// Add custom dropdown icon to selects
.select-wrap {
    position: relative;


    &:after {
        font-family: 'FontAwesome', sans-serif;
        font-size: 16px;
        text-rendering: auto;
        content:"\f107";
        position: absolute;
        right: 15px;
        top: 22%;
    }
}



// Button Styling
// ------------------------------


// Button styling
button,
.button {
    background-color: $color__button--background;
    color: $color__button--text;
    font-family: $font__button--font-family;
    font-size: $font__button--font-size;
    font-weight: $font__button--font-weight;
    line-height: $font__button--line-height;
    letter-spacing: $font__button--letter-spacing;
    padding: 11px 20px;
    text-transform: uppercase;
    @include transition(all 0.5s ease-in-out);


    @media #{$mobile-650px} {
        font-size: $font__button--font-size * 0.9;
        line-height: $font__button--line-height * 0.8;
        padding: 8px 16px;
    }


    &:hover {
        background-color: lighten($color__button--background--hover, 10%);
        color: $color__button--text;
    }
}


// Show & hide button
.button--expand {
    background-color: transparent;
    padding: 0;


    &:hover {
        background-color: transparent;
    }


    .more, .less {
        background-color: $color__button--background;
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
        margin-top: 25px;
        padding: 0 10px;
    }
}


// Click to call widget
.phone-number-link {
    color: $color__button--text;
    font-family: $font__button--font-family;
    font-size: $font__button--font-size;
    font-weight: $font__button--font-weight;
    line-height: $font__button--line-height;
    letter-spacing: $font__button--letter-spacing;
    text-transform: uppercase;
}



// Contact & Signup Form Styling
// ------------------------------

.contactform,
.advancedcontactform,
.signupform,
.blogsearch {


    &__form {
        margin: 0 auto 70px;
        max-width: 960px;
        padding: 0;

        @media #{$tablet-860px} {
            padding: 50px 35px;
        }

        @media #{$mobile-650px} {
            padding: 35px 25px;
        }
    }


    &__form-group {
        margin-bottom: 20px;
    }


    &__legend {
        color: $color__form-legend--text;
        font-family: $font__h2--font-family;
        font-size: $font__h2--font-size;
        line-height: $font__h2--line-height;
        margin-bottom: 25px;
        text-align: center;
        width: 100%;
    }


    &__input,
    &__textarea {
        background-color: white!important;
    }


    &__button {
        height: 55px;
    }
}



//  Contact Forms
// ------------------------------

.contactform,
.advancedcontactform {


    &__option-list {
        margin: 0;

        .label {
            position: relative;
            top: 2px;
        }
    }


    &__form-group > .label {
        display: block;
        line-height: 2;
        vertical-align: initial;
    }


    .option-item--radio,
    .option-item--checkbox {
        display: inline-block;
        margin-right: 5px;
    }


    .input--checkbox,
    .input--radio {
        margin-right: 4px;
    }


    &__select {
        background-color: white;
        border: 1px solid #ddd;
    }


    &__textarea {
        min-height: 250px;
    }


    &__button {
        border-radius: 80px;
        display: block;
        margin: 10px auto 0;
        min-width: 180px;
    }
}



// Signup & Blogsearch
// ------------------------------

.signupform,
.blogsearch {


    &__form-body {
        @include flex-display;
        @include flex-wrap(nowrap);
        @include align-items(flex-end);

        @media #{$mobile-650px} {
            display: block;
        }

        .signupform__form-group:first-child {
            @include flex(1 1 auto);
        }
    }


    .form-group:first-child {
        @include flex-grow(1);
    }


    &__button {
        margin-top: 0;
        min-width: 100px;
    }
}

