// -----------------------------
//  Twitter Widget
// -----------------------------


.widget[data-name="twitter"] {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1050px;
    padding-top: 40px;
}


.twitter {
    overflow: visible!important;
    height: 100%!important;

    &:before,
    &:after {
        background-color: $color__body--background;
        content: "";
        position: absolute;
        top: 10%;
        bottom: 10%;
        height: 80%;
        width: 45px;
        z-index: 1;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }


    &__tweet-list {
        float: left;
        margin: 0 0 40px;
        //height: 100%!important;
    }


    &__tweet-item {
        background-color: $color__twitter--background;
        float: left;
        list-style: none;
        margin: 0 auto;
        min-height: 275px;
        overflow: visible!important;
        padding: 0 45px 35px;
        position: relative;
        right: -1px; // Fixes pixel overlap of next slide
        text-align: center;
    }


    &__avatar {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;


        &-image {
            @include border-radius(100%);
        }
    }


    &__tweet-wrap {
        padding-top: 65px;
    }


    &__account-name {
        color: $color__p--text;
        font-family: $font__p--font-family;
        font-size: 15px;
        text-transform: uppercase;

        &:before {
            content: "@";
            font-size: 10px;
            margin-right: 4px;
        }
    }


    &__tweet-content {
        color: $color__twitter-tweet--text;
        font-family: $font__h2--font-family;
        font-size: $font__h2--font-size * 0.90;
        line-height: $font__h2--line-height;
        margin: 0 auto;
        max-width: 680px;
        padding: 15px 0;


        a {
            color: lighten($color__twitter-tweet--text, 8%);
        }
    }


    // Tweet metadata and retweeted platform
    &__tweet-meta,
    &__retweeted-by {
        display: none;
        visibility: none;
    }
}


.arrows span {
    background-color: lighten($color__body--background, 15%);
    cursor: pointer;
    @include flex-display();
    @include align-items(center);
    @include justify-content(center);
    font-size: 24px;
    position: absolute;
    top: 25%;
    bottom: 20%;
    height: 55%;
    width: 45px;
    z-index: 2;


    &:after {
        border-left: 2px solid lighten($color__body--background, 35%);
        border-top: 2px solid lighten($color__body--background, 35%);
        content: "";
        height: 12px;
        width: 12px;
        @include transition(border 0.5s ease);
    }


    &:hover:after {
        border-color: lighten($color__body--background, 100%);
    }


    &.prev {
        left: 0;

        &:after {
            margin: 0 0 0 5px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }


    &.next {
        right: 0;

        &:after {
            margin: 0 0 0 -5px;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }
    }
}

