
// -----------------------------
//  Yelp Widget
// -----------------------------


.yelpreview {
    position: relative;


    // Yelp widget title
    .yelp-title {
        padding-bottom: 0;
    }


    // Reset
    ul, li, dl, dt, dd {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }


    // Reviewer title
    .review-title {
        color: #B1ADAD;
        font-family: $font__p--font-family;
        font-size: 13px;
        letter-spacing: 1px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }


    // Reviewer rating
    .review-rating {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 8px;


        @media #{$mobile-650px} {
            position: relative;
            top: initial;
        }
    }


    // Reviewers review
    .review-excerpt {
        margin-top: 5px;
    }


    // Link to review
    .review-link {
        background-color: $color__button--background;
        color: $color__button--text;
        display: inline-block;
        font-family: $font__button--font-family;
        font-size: 12px;
        font-weight: $font__button--font-weight;
        letter-spacing: 1px;
        line-height: 1;
        margin-top: 5px;
        padding: 10px;
        text-transform: uppercase;
    }
}

