
// -----------------------------
// Typography
// -----------------------------



// Font Import
// -------------------------

@import 'https://fonts.googleapis.com/css?family=Poppins:400,500';



// Global
// -------------------------

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    @media #{$mobile} {
        font-size: $font__p--font-size * 0.95;
        line-height: $font__p--line-height * 0.95;
    }
}



// Headings
// -------------------------

h5, h6 {
    margin: 0;
    padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    color: $color__h1--text;
    margin-bottom: 0.3em;

    @media #{$tablet-860px} {
        font-size: $font__h1--font-size * 0.9;
        line-height: $font__h1--line-height * 0.98;
    }
    @media #{$mobile-650px} {
        font-size: $font__h1--font-size * 0.82;
        line-height: $font__h1--line-height * 0.82;
    }


    &.pagetitle-text  {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

h2 {
    color: $color__h2--text;

    @media #{$tablet-860px} {
        font-size: $font__h2--font-size * 0.925;
        line-height: $font__h2--line-height * 0.925;
    }
}

h3 {
    color: $color__h3--text;

    @media #{$tablet-860px} {
        font-size: $font__h3--font-size * 0.9;
        line-height: $font__h3--line-height * 0.9;
    }
    @media #{$mobile-650px} {
        font-size: $font__h3--font-size * 0.85;
        line-height: $font__h3--line-height * 0.85;
    }
}

h4 {
    color: $color__h4--text;

    @media #{$tablet-860px} {
        font-size: $font__h4--font-size * 0.9;
        line-height: $font__h4--line-height * 0.9;
    }

    @media #{$mobile-650px} {
        font-size: $font__h4--font-size * 0.85;
        line-height: $font__h4--line-height * 0.85;
    }
}

h5 {
    font-size: $font__h4--font-size * 0.8;
    font-weight: 400;
    line-height: $font__h4--line-height * 0.8;

    @media #{$mobile-650px} {
        font-size: $font__h3--font-size * 0.75;
        line-height: $font__h3--line-height * 0.75;
    }
}

h6 {
    font-size: $font__h4--font-size * 0.6;
    line-height: $font__h4--line-height * 0.6;
    font-style: normal;
}



// Normal Text
// ---------------------------------------

body {
    color: $color__p--text;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


// Bold text
strong, bold {
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
}

// Paragraph text
p {
    color: $color__p--text;
    padding-bottom: 1em;
}


div[data-name="content"] {
    margin-bottom: 0;
}


p,
ul,
ol,
li,
.p-font,
time.blog-post-publish-date,
.product-body {
    font-family: $font__p--font-family;
    font-size: $font__p--font-size;
    line-height: $font__p--line-height;

    @media #{$mobile-650px} {
        font-size: $font__p--font-size * 0.95;
        line-height: $font__p--line-height * 0.92;
    }
}


// List styles
li {
    color: $color__p--text;
}


// List styles for content widgets
.widget__content {


    ul {
        margin-top: 0;
        padding-left: 20px;


        li {
            list-style: none;
            position: relative;

            &:before {
                @include border-radius(100px);
                background-color: lighten($color__p--text, 30%);
                content: "";
                height: 6px;
                width: 6px;
                position: absolute;
                left: -28px;
                top: 16px;
            }
        }
    }


    ol {
        counter-reset: item;
        padding-left: 20px;


        li {
            list-style: none;
            position: relative;

            &:before {
                content: counter(item) ".";
                counter-increment: item;
                color: lighten($color__p--text, 30%);
                font-weight: 500;
                position: absolute;
                left: -28px;
            }
        }
    }
}


// Anchor links
a {
    text-decoration: none;
    @include transition(all .5s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}


// Content links
.widget__content a {
    border-bottom: 1px solid transparent;
    color: $color__link--text;
    @include transition(all .5s ease-out);

    &:hover {
        border-bottom: 1px solid $color__link--text;
        padding-bottom: 1px;
        text-decoration: none;
        @include transition(all .5s ease-in-out);
    }
}


// Widget links
.emailaddress__email,
.tweet-content a {
    color: $color__link--text;
    @include transition(all .5s ease-out);
}


// Blockquotes
blockquote {
    color: $color__p--text;
    font-size: $font__h4--font-size;
    line-height: $font__h4--line-height * 1.05;
    margin: 30px auto 0;
    max-width: 800px;
    padding: 40px 25px;
    position: relative;
    text-align: center;

    @media #{$mobile-650px} {
        font-size: $font__h4--font-size * 0.85;
        line-height: $font__h4--line-height * 0.85;
        margin: 0;
        padding: 35px 20px 0;
    }

    &:before {
        color: $color__h2--text;
        font-family: georgia;
        font-size: 92px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        z-index: 2;

        @media #{$mobile-650px} {
            font-size: 86px;
            top: 5px;
        }
    }
}


// Pre / Code / Tables
code,
pre,
th,
thead td {
    background: lighten($color__body--background, 8%);
    color: $color__h2--text;
}


pre {
    border: 1px solid lighten($color__body--background, 10%);
}
